body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
}

header {
    background-color: #83B4FF;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0 0 0;
}
.main-container{
    padding-top: 50px;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 630px;
    background-color: rgb(12, 12, 12);
    color: white;

}
.name{
    background: linear-gradient(to left,rgb(0, 255, 98),rgb(0, 255, 98),rgb(0, 255, 98),#83B4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-text{
    transition: all .5s;
    width: 60%;
}
.about-text h2{
    font-size: 50px;
}
.about-text .hide{
    font-size: 0px;
    opacity: 0;
}
.about-text:hover .hide{
    opacity: 1;
    transition: opacity 1s ease;
    font-size: 20px;
}
.hide1{
    transition: opacity 1s ease;
}
.about-text:hover .hide1{
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 0px;
}
.about-text p{
    font-size: 20px;
}
.about-text:hover p{
    font-size: 0px;
    transition: opacity 1s ease;
}
.about-text h2 span{
    color: rgb(237, 174, 15);
}

section {
    padding: 2em;
    text-align: center;
}

section h2 {
    color: #83B4FF;
    margin-bottom: 0.5em;
}

#about img {
    width: 37%;
    object-fit: cover;
}
#skills{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    
}


#skills h2{
    font-size: 50px;
}
#skills ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#skills img{
    width: 100px;
}
#skills li:hover{
    box-shadow: 0px 0px 20px #83B4FF;
    transform: scale(1.035);
}
#skills li {
    background: #f4f4f4;
    margin: 20px;
    padding: 0.5em;
    display: inline-block;
    border-radius: 4px;
    margin-right: 60px;
    transition: all 1s ease;
}

#projects h2{
    font-size: 50px;
}
#projects {
    color: white;
}





.inner-content-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.content-1{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(151, 151, 151, 0.205);
    border-radius: 20px;
    height: 230px;
    transition: all .5s;
}
.content-1 p{
    font-size: 40px;
}
.content-1 a{
    color: rgb(0, 255, 255);
}
.content-1 span{
    font-size: 0px;
}
.content-1 img{
    width: 140px;
    margin-left: 50px;
}
.content-1:hover img{
    width: 200px;
    margin-left: 0px;
}
.content-1:hover{
    transform: scale(1.001);
    background-color: #5A72A0;
    color: white;
    margin-left: 0px;
    height: 260px;
    box-shadow: 0px 0px 40px rgba(120, 120, 120, 0.457);
}
.content-1:hover span{
    font-size: 15px;
    font-weight: 200;
    color: white;
    width: 50px;
}
.content-2{
    padding: 20px;
    width: 53%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(151, 151, 151, 0.205);
    border-radius: 20px;
    height: 250px;
    transition: all .5s;
    gap: 30px;
}
.content-2 span{
    font-size: 0px;
}
.content-2:hover{
    transform: scale(1.001);
    background-color: #5A72A0;
    color: white;
    margin-right: 10px;
    width: 52%;
    height: 270px;
    box-shadow: 0px 0px 40px rgba(120, 120, 120, 0.457);
}
.content-2:hover span{
    font-size: 15px;
    font-weight: 200;
    color: white;
}
.content-2 img{
    width: 180px;
    border-radius: 0px 0px 29px 29px;
}
.content-2 p{
    font-size: 40px;
}
.content-2 a{
    color: rgb(0, 255, 255);
}

.inner-content-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.content-3{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(151, 151, 151, 0.205);
    border-radius: 20px;
    height: 230px;
    transition: all 1s;
    gap: 50px;
}
.content-3 a{
    color: rgb(0, 255, 255);
}
.content-3 span{
    font-size: 0px;
}
.content-3:hover{
    transform: scale(1.001);
    background-color: #5A72A0;
    color: white;
    margin-left: 10px;
    width: 50%;
    height: 260px;
    box-shadow: 0px 0px 40px rgba(120, 120, 120, 0.457);
}
.content-3:hover span{
    font-size: 15px;
    font-weight: 200;
    color: white;
}
.content-3 img{
    width: 250px;
    border-radius: 30px 35px 0px 0px;
    margin-left: 10px;
}
.content-3 p{
    font-size: 40px;
}

.content-4{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(151, 151, 151, 0.205);
    border-radius: 20px;
    height: 210px;
    transition: all 0.5s;
    gap: 0px;
}
.content-4 span{
    font-size: 0px;
}
.content-4 p{
    font-size: 40px;
    margin-right: 80px;
}
.content-4 a{
    color: aqua;
}
.content-4:hover{
    transform: scale(1.001);
    background-color: #5A72A0;
    color: white;
    margin-right: 10px;
    height: 240px;
    box-shadow: 0px 0px 40px rgba(120, 120, 120, 0.457);
}
.content-4:hover span{
    
    font-size: 15px;
    font-weight: 200;
    color: white;
}
.content-4 img{
    width: 130px;
    border-radius: 15px 17px 17px 15px;
    margin-right: 180px;
}
.content-4:hover img{
    margin-right: 20px;
}









#projects .project {
    margin-bottom: 2em;
}

#projects img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
#projects h2{
    margin-bottom: 60px;
}
#resume a {
    text-decoration: none;
    color: #5A72A0;
    border: 1px solid #5A72A0;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

#resume a:hover {
    background-color: #5A72A0;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.422);
}
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    background-color: rgb(216, 216, 216);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: #5A72A0;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 95%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 95%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #5A72A0;
    color: #fff;
    cursor: pointer;
  }
    
  #contact{
    width: 95.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #0d0d0d;
    
  }
  #contact img{
    width: 40%;
    border-radius: 30px;
  }
  
footer {
    background-color: #161616;
    text-align: center;
    padding: 1em 0;
    margin-top: em;
    font-size: 0.9em;
    color: white;
}
#resume h2{
    font-size: 40px;
    margin-bottom: 50px;
}